body {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "PT Sans", serif;
}

h1, h2, p {
  margin-bottom: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

nav #nav-header {
  margin-bottom: 8px;
}

nav .site-title {
  font-size: x-large;
  font-weight: 700;
}

nav #nav-items a {
  padding: 8px;
}

main {
  flex: 1;
}

main img.header-image {
  width: 100%;
}

footer {
  border-top: 1px solid #000000;
  text-align: center;
  padding-bottom: 24px;
}

@media only screen and (min-width: 720px) {
  body {
    width: 60%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
  }

  nav #nav-header {
    margin-bottom: 0;
  }
}